.header {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
}

.header > img {
  max-width: 100%;
  max-height: 100%;
}

.arrow {
  position: absolute;
  bottom: 10px;
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
  cursor: pointer;
}

.arrow path {
  stroke: black;
  stroke-width: 7px;
}

.arrow * {
  fill: url("#arrow-gradient");
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
