.container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.kpiCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* border: blue solid 1px; */
  border: #f5e324 1px solid;
  border-radius: 2px;
  padding: 10px 0px;
  margin: 10px;
}

.kpiCardTitle {
  font-size: 1.2em;
  text-align: center;

}

.kpiCardValue {
  font-size: 2em;
}

.kpiCardUnit {

}

