.guiContainer {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  margin: auto;
}

.viewContainer {
  display: flex;
  flex-direction: row;
}

.kpiContainer {
  width: 20%;
}

.visualizationContainer {
  width: 80%
}


.detailsContainer {
}